-b 2 -f "Shield Master| If you aren\'t incapacitated, you can add your shield\'s AC bonus to any Dexterity saving throw you make against m_command spell or other harmful effect that targets only you."